<section class="section-semi-width">
    <h2 class="section-heading">Статьи</h2>
    <div
    data-aos="fade-right" 
    data-aos-duration="300" 
    data-aos-offset="100"
    data-aos-delay="20"
    data-aos-easing="ease-in-out"
    class="news-inner grey">
        <div class="news-row">
            <div class="news-col">
    
                <div
                data-aos="fade-down" 
                data-aos-duration="300" 
                data-aos-offset="100"
                data-aos-delay="150"
                data-aos-easing="ease-in-out"
                class="news-main">
                    <a href="#">
                        <div class="news-list-main">
                            <img src="../../../img/article-main.webp" alt="">
                            <div class="news-list-main-info">
                                <h4>Однокомпонентный эпоксидный клей ADHESOL ES 150 S для склеивания ферритов</h4>
                                <p class="cutoff-text-article">Анаэробный клей затвердевает без доступа воздуха, при контакте с металлической поверхностью. Жидкий состав клея заполняет зазоры и дефекты в соединениях, уплотнениях.</p>
                            </div>
                        </div>
                    </a>
                </div>
    
            </div>
            <div class="article-list">
                <a
                data-aos="fade-down" 
                data-aos-duration="300" 
                data-aos-offset="100"
                data-aos-delay="150"
                data-aos-easing="ease-in-out"
                href="#">
                    <div class="article-list-item">
                        <img width="auto" height="60" src="../../../img/adhesol-maskot.svg" alt="">
                        <div>
                            <h4>
                                Новый клей для нового аккумулятора
                            </h4>
                            <p class="cutoff-text-article">Один из передовых производителей АКБ обратился к специалистам ADHESOL с просьбой подобрать адгезив для новой модели аккумулятора.</p>
                        </div>
                    </div>
                </a>
                <a
                data-aos="fade-down" 
                data-aos-duration="300" 
                data-aos-offset="100"
                data-aos-delay="150"
                data-aos-easing="ease-in-out"
                href="#">
                    <div class="article-list-item">
                        <img width="auto" height="60" src="../../../img/adhesol-maskot.svg" alt="">
                        <div>
                            <h4>
                                Новый клей для нового аккумулятора
                            </h4>
                            <p class="cutoff-text-article">Один из передовых производителей АКБ обратился к специалистам ADHESOL с просьбой подобрать адгезив для новой модели аккумулятора.</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="article-list-item">
                        <img width="auto" height="60" src="../../../img/adhesol-maskot.svg" alt="">
                        <div>
                            <h4>
                                Новый клей для нового аккумулятора
                            </h4>
                            <p class="cutoff-text-article">Один из передовых производителей АКБ обратился к специалистам ADHESOL с просьбой подобрать адгезив для новой модели аккумулятора.</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="article-list-item">
                        <img width="auto" height="60" src="../../../img/adhesol-maskot.svg" alt="">
                        <div>
                            <h4>
                                Новый клей для нового аккумулятора
                            </h4>
                            <p class="cutoff-text-article">Один из передовых производителей АКБ обратился к специалистам ADHESOL с просьбой подобрать адгезив для новой модели аккумулятора.</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="article-list-item">
                        <img width="auto" height="60" src="../../../img/adhesol-maskot.svg" alt="">
                        <div>
                            <h4>
                                Новый клей для нового аккумулятора
                            </h4>
                            <p class="cutoff-text-article">Один из передовых производителей АКБ обратился к специалистам ADHESOL с просьбой подобрать адгезив для новой модели аккумулятора.</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="article-list-item">
                        <img width="auto" height="60" src="../../../img/adhesol-maskot.svg" alt="">
                        <div>
                            <h4>
                                Новый клей для нового аккумулятора
                            </h4>
                            <p class="cutoff-text-article">Один из передовых производителей АКБ обратился к специалистам ADHESOL с просьбой подобрать адгезив для новой модели аккумулятора.</p>
                        </div>
                    </div>
                </a>
                <a href="#">
                    <div class="article-list-item">
                        <img width="auto" height="60" src="../../../img/adhesol-maskot.svg" alt="">
                        <div>
                            <h4>
                                Новый клей для нового аккумулятора
                            </h4>
                            <p class="cutoff-text-article">Один из передовых производителей АКБ обратился к специалистам ADHESOL с просьбой подобрать адгезив для новой модели аккумулятора.</p>
                        </div>
                    </div>
                </a>
                
            </div>
        </div>
    </div>
</section>