<section class="section-full-width grey-bg">
    <h2 class="section-heading">Отраслевые решения</h2>
    
    <div class="industry-solutions">

        <div class="row">
            <div
            data-aos="flip-left" 
            data-aos-duration="300" 
            data-aos-offset="0"
            data-aos-delay="0"
            data-aos-easing="ease-in-out" 
             class="solution-item short avtoprom">
                <div class="fade"></div>
                <div class="solution-item-inner" >
                    <h4>Автопром</h4>
                    <button class="industry-solutions-btn">
                        <a href="#">Подробнее</a>
                    </button>
                </div>
            </div>

            <div
            data-aos="flip-left" 
            data-aos-duration="300" 
            data-aos-offset="0"
            data-aos-delay="10"
            data-aos-easing="ease-in-out"
            class="solution-item short selhoz">
                <div class="fade"></div>
                <div class="solution-item-inner" >
                    <h4>Сельское хозяйство</h4>
                    <button class="industry-solutions-btn">
                        <a href="#">Подробнее</a>
                    </button>
                </div>
            </div>

            <div 
            data-aos="flip-left" 
            data-aos-duration="300" 
            data-aos-offset="0"
            data-aos-delay="100"
            data-aos-easing="ease-in-out"
            class="solution-item wide industry">
                <div class="fade"></div>
                <div class="solution-item-inner" >
                    <h4>Промышленное оборудование</h4>
                    <button class="industry-solutions-btn">
                        <a href="#">Подробнее</a>
                    </button>
                </div>
            </div>

            <div
            data-aos="flip-left" 
            data-aos-duration="300" 
            data-aos-offset="0"
            data-aos-delay="20"
            data-aos-easing="ease-in-out"
            class="solution-item wide healthcare">
                <div class="fade"></div>
                <div class="solution-item-inner" >
                    <h4>Медицинские изделия</h4>
                    <button class="industry-solutions-btn">
                        <a href="#">Подробнее</a>
                    </button>
                </div>
            </div>
            <div
            data-aos="flip-left" 
            data-aos-duration="300" 
            data-aos-offset="0"
            data-aos-delay="20"
            data-aos-easing="ease-in-out"
            class="solution-item short electronics">
                <div class="fade"></div>
                <div class="solution-item-inner" >
                    <h4>Электроника</h4>
                    <button class="industry-solutions-btn">
                        <a href="#">Подробнее</a>
                    </button>
                </div>
            </div>
            <div 
            data-aos="flip-left" 
            data-aos-duration="300" 
            data-aos-offset="0"
            data-aos-delay="20"
            data-aos-easing="ease-in-out"
             class="solution-item short opk">
                <div class="fade"></div>
                <div class="solution-item-inner" >
                    <h4>ОПК</h4>
                    <button class="industry-solutions-btn">
                        <a href="#">Подробнее</a>
                    </button>
                </div>
            </div>






            <div
            data-aos="flip-left" 
            data-aos-duration="300" 
            data-aos-offset="0"
            data-aos-delay="20"
            data-aos-easing="ease-in-out"
            class="solution-item short sudostroenie">
                <div class="fade"></div>
                <div class="solution-item-inner" >
                    <h4>Судостроение</h4>
                    <button class="industry-solutions-btn">
                        <a href="#">Подробнее</a>
                    </button>
                </div>
            </div>
            <div
            data-aos="flip-left" 
            data-aos-duration="300" 
            data-aos-offset="0"
            data-aos-delay="20"
            data-aos-easing="ease-in-out"
            class="solution-item short energetica">
                <div class="fade"></div>
                <div class="solution-item-inner" >
                    <h4>Энергетика</h4>
                    <button class="industry-solutions-btn">
                        <a href="#">Подробнее</a>
                    </button>
                </div>
            </div>
            <div
            data-aos="flip-left" 
            data-aos-duration="300" 
            data-aos-offset="0"
            data-aos-delay="20"
            data-aos-easing="ease-in-out"
            class="solution-item wide neftegaz">
                <div class="fade"></div>
                <div class="solution-item-inner" >
                    <h4>Нефтегазовая промышленность</h4>
                    <button class="industry-solutions-btn">
                        <a href="#">Подробнее</a>
                    </button>
                </div>
            </div>
            <div
            data-aos="flip-left" 
            data-aos-duration="300" 
            data-aos-offset="0"
            data-aos-delay="20"
            data-aos-easing="ease-in-out"
            class="solution-item half-width kosmos">
                <div class="fade"></div>
                <div class="solution-item-inner" >
                    <h4>Аэрокосмическая промышленность</h4>
                    <button class="industry-solutions-btn">
                        <a href="#">Подробнее</a>
                    </button>
                </div>
            </div>
            <div
            data-aos="flip-left" 
            data-aos-duration="300" 
            data-aos-offset="0"
            data-aos-delay="20"
            data-aos-easing="ease-in-out"
            class="solution-item half-width aviaciya">
                <div class="fade"></div>
                <div class="solution-item-inner" >
                    <h4>Авиационная промышленность</h4>
                    <button class="industry-solutions-btn">
                        <a href="#">Подробнее</a>
                    </button>
                </div>
            </div>
        </div>

        
        <div class="show-more-container">
            <button class="show-more">
                Показать все
            </button>
        </div>
    </div>
</section>