<section class="section-full-width">
    <div 
    data-aos="fade-right" 
    data-aos-duration="500" 
    data-aos-offset="100"
    data-aos-easing="linear"
    class="double-col-block">
        <div class="double-block-inner block-reverse grey">
            <div class="text-block">
                <div class="text">
                    <h4>Анаэробные клеи ADHESOL </h4>
                    <p class="cutoff-text-block">Продукция ADHESOL пополнилась новой серией анаэробных клеевых составов, которые широко применяются при монтаже и ремонте металлических деталей в механических узлах, гидравлике, промышленной и коммунальной инженерии. С помощью анаэробного клея достигается наилучшая фиксация подшипников, резьбовых, фланцевых соединений, а также герметизация трубопроводов.</p>
                </div>
                <button class="custom-btn btn-3">
                    <span>
                        <a href="#">Подробнее</a>
                    </span>
                </button>
            </div>
            <div class="image-block image-block-second">
                <div class="image-block-layer-two"></div>
                <img src="../../../img/anaeroby.jpg" alt="">
            </div>
        </div>
    </div>
</section>