/* Double Col Block */
.double-col-block {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
  }
  .double-col-block .double-block-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 50px;
    border-radius: 5px;
    gap: 1rem;
    -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-top: 10px;
  }
  @media (max-width: 1024px) {
    .double-col-block .double-block-inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-left: 50px;
      margin-right: 50px;
      padding: 30px;
    }
  }
  @media (max-width: 620px) {
    .double-col-block .double-block-inner {
      margin-right: 10px;
      margin-left: 10px;
      padding: 10px;
    }
  }
  .double-col-block .text-block {
    background: #FFFFFF;
    -webkit-box-shadow: 0px 2px 4px rgba(146, 146, 146, 0.25);
            box-shadow: 0px 2px 4px rgba(146, 146, 146, 0.25);
    border-radius: 5px;
    padding: 40px 30px;
    max-width: 560px;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 100%;
  }
  @media (max-width: 620px) {
    .double-col-block .text-block {
      padding: 10px;
    }
  }
  .double-col-block .text-block h4 {
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: normal;
  }
  @media (max-width: 767px) {
    .double-col-block .text-block h4 {
      font-size: 21px;
    }
  }
  @media (max-width: 580px) {
    .double-col-block .text-block h4 {
      font-size: 18px;
    }
  }
  .double-col-block .text-block p {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  @media (max-width: 580px) {
    .double-col-block .text-block p {
      font-size: 14px;
    }
  }
  .double-col-block .image-block {
    max-width: 100%;
    max-height: 446px;
    width: 100%;
    border-radius: 5px;
    position: relative;
  }
  .double-col-block .image-block img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
  }
  .double-col-block .double-col-btn {
    background-color: transparent;
    border: 1px solid #0074bc;
    color: #0074bc;
    padding: 10px 20px;
    font-weight: normal;
    cursor: pointer;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-radius: 3px;
  }
  .double-col-block .double-col-btn a {
    color: #0074bc;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .double-col-block .double-col-btn:hover {
    background-color: #0074bc;
    border-color: #0074bc;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .double-col-block .double-col-btn:hover a {
    border-color: #0074bc;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .souble-block-parallax {
    background-image: url("../../../img/anaeroby.webp");
  }
  
  .image-block-layer {
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  
  .image-block-layer-two {
    background-color: rgba(0, 116, 188, 0.2);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  
  .blue {
    background: #0074bc;
  }
  
  .red {
    background: #FFDBD4;
  }
  
  .grey {
    background: -o-linear-gradient(309.68deg, rgba(128, 153, 193, 0.11) 33.15%, rgba(182, 182, 182, 0.18) 75.57%, rgba(182, 182, 182, 0.22) 97.57%);
    background: linear-gradient(140.32deg, rgba(128, 153, 193, 0.11) 33.15%, rgba(182, 182, 182, 0.18) 75.57%, rgba(182, 182, 182, 0.22) 97.57%);
  }
  
  .block-reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  
  /*btn */
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 3px;
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
  }
  .custom-btn a {
    color: #fff;
  }
  .custom-btn span {
    color: #fff;
  }
  
  .btn-3 {
    background: rgb(0, 172, 238);
    background: -webkit-gradient(linear, left bottom, left top, from(#0074bc), to(#0074bc));
    background: -o-linear-gradient(bottom, #0074bc 0%, #0074bc 100%);
    background: linear-gradient(0deg, #0074bc 0%, #0074bc 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
  }
  
  .btn-3 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #0074bc;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  
  .btn-3:hover {
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .btn-3:hover a {
    color: #292930;
  }
  
  .btn-3:hover:before {
    height: 100%;
  }
  
  .btn-3:hover:after {
    width: 100%;
  }
  
  .btn-3 span:hover {
    color: rgb(2, 126, 251);
  }
  
  .btn-3 span:before,
  .btn-3 span:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    background: rgb(2, 126, 251);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  
  .btn-3 span:before {
    width: 2px;
    height: 0%;
  }
  
  .btn-3 span:after {
    width: 0%;
    height: 2px;
  }
  
  .btn-3 span:hover:before {
    height: 100%;
  }
  
  .btn-3 span:hover:after {
    width: 100%;
  }
  
  /* Double Col End */