<section class="section-full-width grey-bg">
    <div class="videos-inner">
        <h2 class="section-heading">Видеоматериалы</h2>
        <div class="video-previews">
            <div
            data-aos="fade-down" 
            data-aos-duration="400" 
            data-aos-offset="100"
            data-aos-delay="0"
            data-aos-easing="ease-in-out"
            data-modal="modal-5" class="video-previews-item" data-link="https://www.youtube.com/embed/SUIwyTuLNNg">
                <img src="../../../img/embeded.webp" alt="">
                <div class="video-preview-info">
                    <div class="video-preview-info_date">
                        <div>31 февраля 2023</div>
                    </div>
                    <div class="video-preview-info-name">
                        <p class="cutoff-text-article">
                            Однокомпонентный эпоксидный клей ADHESOL ES 160 W в производстве ин...
                        </p>
                    </div>
                </div>
            </div>
            <div
            data-aos="fade-down" 
            data-aos-duration="400" 
            data-aos-offset="100"
            data-aos-delay="100"
            data-aos-easing="ease-in-out"
            data-modal="modal-5" class="video-previews-item" data-link="https://www.youtube.com/embed/SUIwyTuLNNg">
                <img src="../../../img/embeded.webp" alt="">
                <div class="video-preview-info">
                    <div class="video-preview-info_date">
                        <div>31 февраля 2023</div>
                    </div>
                    <div class="video-preview-info-name">
                        <p class="cutoff-text-article">
                            Однокомпонентный эпоксидный клей ADHESOL ES 160 W в производстве ин...
                        </p>
                    </div>
                </div>
            </div>
            <div
            data-aos="fade-down" 
            data-aos-duration="400" 
            data-aos-offset="100"
            data-aos-delay="150"
            data-aos-easing="ease-in-out"
            data-modal="modal-5" class="video-previews-item" data-link="https://www.youtube.com/embed/SUIwyTuLNNg">
                <img src="../../../img/embeded.webp" alt="">
                <div class="video-preview-info">
                    <div class="video-preview-info_date">
                        <div>31 февраля 2023</div>
                    </div>
                    <div class="video-preview-info-name">
                        <p class="cutoff-text-article">
                            Однокомпонентный эпоксидный клей ADHESOL ES 160 W в производстве ин...
                        </p>
                    </div>
                </div>
            </div>
            <div
            data-aos="fade-down" 
            data-aos-duration="300" 
            data-aos-offset="100"
            data-aos-delay="150"
            data-aos-easing="ease-in-out"
            data-modal="modal-5" class="video-previews-item" data-link="https://www.youtube.com/embed/SUIwyTuLNNg">
                <img src="../../../img/embeded.webp" alt="">
                <div class="video-preview-info">
                    <div class="video-preview-info_date">
                        <div>31 февраля 2023</div>
                    </div>
                    <div class="video-preview-info-name">
                        <p class="cutoff-text-article">
                            Однокомпонентный эпоксидный клей ADHESOL ES 160 W в производстве ин...
                        </p>
                    </div>
                </div>
            </div>
            <div
            data-aos="fade-down" 
            data-aos-duration="300" 
            data-aos-offset="100"
            data-aos-delay="150"
            data-aos-easing="ease-in-out"
            data-modal="modal-5" class="video-previews-item" data-link="https://www.youtube.com/embed/SUIwyTuLNNg">
                <img src="../../../img/embeded.webp" alt="">
                <div class="video-preview-info">
                    <div class="video-preview-info_date">
                        <div>31 февраля 2023</div>
                    </div>
                    <div class="video-preview-info-name">
                        <p class="cutoff-text-article">
                            Однокомпонентный эпоксидный клей ADHESOL ES 160 W в производстве ин...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
