<section class="section-full-width">
    <div class="choose-option-wrapper">
        <div 
        data-aos="fade-right" 
        data-aos-duration="500" 
        data-aos-offset=""
        data-aos-easing="linear"
        class="choose-option-inner">
            <div
            class="choose-option-item choose-option-maskot-block">

                <img class="choose-option-item_img" src="../../../img/adhesol-maskot.svg" alt="maskot">
            </div>
            <div class="choose-option-item">
                <div>
                    <h4>Поможем подобрать клеевой состав</h4>
                    <p>Закажите звонок и специалисты свяжутся с вами в течение 15 минут!</p>
                </div>
                 <button class="btn-animate btn-help-call">
                    Заказать
                </button>
            </div>
        </div>
    </div>
</section>