<div class="modal modal-order-trigger">
    <div class="modal-inner">
        <div class="close">
            <img class="close-cross" src="../../../img/close.svg" alt="">
        </div>
        <form class="collback-form-help">
            <h4>Закажите звонок</h4>
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="Почта">
            <button class="btn-animate">Заказать</button>
        </form>
    </div>
</div>