<div class="modal modal-dealers-trigger">
    <div class="modal-inner">
        <div class="close">
            <img class="close-cross" src="../../../img/close.svg" alt="">
        </div>
        <form class="collback-form-help">
            <h4>Станьте дилером</h4>
            <input type="text" placeholder="Имя">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="Почта">
            <input type="text" placeholder="Название организации">
            <button>Стать дилером</button>
        </form>
    </div>
</div>