<section class="section-semi-width">
    <h2 class="section-heading">Партнеры</h2>
    <div class="partners">
        <div
        data-aos="fade-down" 
        data-aos-duration="300" 
        data-aos-offset="100"
        data-aos-delay="250"
        data-aos-easing="ease-in-out"
        class="partners-item">
            <div class="partners-img">
                <img src="../../../img/partner-agc.webp" alt="">
            </div>
        </div>
        <div
        data-aos="fade-down" 
        data-aos-duration="300" 
        data-aos-offset="100"
        data-aos-delay="200"
        data-aos-easing="ease-in-out"
        class="partners-item">
            <div class="partners-img">
                <img src="../../../img/partner-irbis.webp" alt="">
            </div>
        </div>
        <div
        data-aos="fade-down" 
        data-aos-duration="300" 
        data-aos-offset="100"
        data-aos-delay="150"
        data-aos-easing="ease-in-out"
        class="partners-item">
            <div class="partners-img">
                <img src="../../../img/partner-lentaplus.webp" alt="">
            </div>
        </div>
        
    </div>
</section>