/* Slider Start */
.slick-prev, .slick-next {
    cursor: pointer;
    height: 50px;
    width: 50px;
    position: absolute;
  }
  @media (max-width: 1400px) {
    .slick-prev, .slick-next {
      width: 30px;
      height: 30px;
    }
  }
  
  .slick-prev {
    left: 30px;
    z-index: 999;
    top: 45%;
  }
  @media (max-width: 1400px) {
    .slick-prev {
      left: 5px;
    }
  }
  @media (max-width: 1300px) {
    .slick-prev {
      left: 0px;
    }
  }
  
  .slick-next {
    right: 30px;
    z-index: 999;
    top: 45%;
  }
  @media (max-width: 1400px) {
    .slick-next {
      right: 5px;
    }
  }
  @media (max-width: 1300px) {
    .slick-next {
      right: 0px;
    }
  }
  
  .slider picture {
    position: relative;
  }
  .slider picture:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: -webkit-gradient(linear, left top, right top, from(rgba(0, 116, 188, 0.8)), color-stop(28.08%, rgba(0, 116, 188, 0.7)), color-stop(67.91%, rgba(96, 168, 213, 0.21)), color-stop(115.46%, rgba(255, 255, 255, 0.3)));
    background: -o-linear-gradient(left, rgba(0, 116, 188, 0.8) 0%, rgba(0, 116, 188, 0.7) 28.08%, rgba(96, 168, 213, 0.21) 67.91%, rgba(255, 255, 255, 0.3) 115.46%);
    background: linear-gradient(90deg, rgba(0, 116, 188, 0.8) 0%, rgba(0, 116, 188, 0.7) 28.08%, rgba(96, 168, 213, 0.21) 67.91%, rgba(255, 255, 255, 0.3) 115.46%);
    z-index: 9;
  }
  .slider .slick-dots {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    position: absolute;
    left: 50%;
    bottom: 10%;
    margin-left: -45px;
  }
  .slider .slick-dots button {
    display: none;
  }
  .slider .slick-dots li {
    display: block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin: 10px;
    background-color: #D6DAE4;
    cursor: pointer;
  }
  .slider .slick-dots .slick-active {
    background-color: #0074BC;
  }
  
  .slider-img {
    position: relative;
  }
  
  .banner-info {
    position: absolute;
    z-index: 999999;
    bottom: 15%;
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .banner-info h4 {
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  @media (max-width: 768px) {
    .banner-info h4 {
      font-size: 25px;
      text-align: center;
    }
  }
  .banner-info__inner {
    background-color: transparent;
    border-radius: 5px;
    padding: 30px;
  }
  @media (max-width: 768px) {
    .banner-info__inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      text-align: center;
    }
  }
  .banner-info .banner-info-item {
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 30px;
    margin-bottom: 50px;
  }
  .banner-info .banner-info-item .banner-info-item__text {
    color: #fff;
    font-size: 30px;
  }
  @media (max-width: 768px) {
    .banner-info .banner-info-item .banner-info-item__text {
      font-size: 18px;
    }
  }
  .banner-info .banner-info-item img {
    height: 20px;
    width: 20px;
    margin-right: 10px;
  }
  
  .banner-info-item__list {
    background: #fff;
    padding: 10px;
    color: #000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 4px solid #0074bc;
    font-size: 24px;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  
  .banner-btn {
    max-width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    font-size: 20px;
    cursor: pointer;
  }
  .banner-btn span {
    margin-right: 20px;
    color: #fff;
  }
  @media (max-width: 768px) {
    .banner-btn span {
      font-size: 18px;
    }
  }
  .banner-btn span:after {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 0;
    opacity: 0;
    bottom: -10px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    pointer-events: none;
  }
  .banner-btn span::before {
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #fff;
    right: 0;
    opacity: 1;
    bottom: -10px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    pointer-events: none;
  }
  .banner-btn .banner-btn-img {
    pointer-events: none;
    width: 50px;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .banner-btn .banner-btn-img path {
    stroke: #ff4242;
  }
  .banner-btn:hover span::after {
    width: 100%;
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  
  .banner-btn:hover span {
    color: #fff;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .banner-btn:hover .banner-btn-img {
    -webkit-transform: translateX(30px);
        -ms-transform: translateX(30px);
            transform: translateX(30px);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }

  .mouse-parallax {
    height: 430px;
    position: relative;
    overflow: hidden;
    width: 100vw;
  }
  
  .mouse-parallax-bg {
    position: absolute;
    width: 101%;
    height: 101%;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
  }
  
  .aviation-parallax {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .energy-parallax {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .electronics-parallax {
    background-image: url("../../img/electronics-banner-4.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-info a {
    color: #fff;
  }
  /* Slider End */
