<section class="section-full-width section-banner">
    <div class="slider">
        <div class="slider-img">
            <div class="banner-info">
                <div class="banner-info__inner">
                    <h4>Клей в Авиастроении</h4>
                    <div class="banner-info-item">
                        <div class="banner-info-item__text">
                            Обеспечивет прочность без утяжеления
                        </div>
                    </div>
                    <div class="banner-btn">
                        <span>Подробнее</span>
                        <img class="banner-btn-img" src="../../../img/arrow-for-btn.svg" alt="">
                    </div>
                </div>
            </div>
            <picture>
                <div class="mouse-parallax">
                    <div class="mouse-parallax-bg aviation-parallax"></div>
                </div>
            </picture>
        </div>
        <div class="slider-img">
            <div class="banner-info">
                <div class="banner-info__inner">
                    <h4>Клей в Энергетике</h4>
                    <div class="banner-info-item">
                        <div class="banner-info-item__text">
                            Выдерживает широкий диапазон температуры -60  +180
                        </div>
                    </div>
                    <div class="banner-btn">
                        <span>Подробнее</span>
                        <img class="banner-btn-img" src="../../../img/arrow-for-btn.svg" alt="">
                    </div>
                </div>
            </div>
            <picture>
                <div class="mouse-parallax">
                    <div class="mouse-parallax-bg energy-parallax"></div>
                </div>
            </picture>
        </div>
        <div class="slider-img">
            <div class="banner-info">
                <div class="banner-info__inner">
                    <h4>Клей в Электронике</h4>
                    <div class="banner-info-item">
                        <div class="banner-info-item__text">
                            IP защита
                        </div>
                    </div>
                    <div class="banner-btn">
                        <span>Подробнее</span>
                        <img class="banner-btn-img" src="../../../img/arrow-for-btn.svg" alt="">
                    </div>
                </div>
            </div>
            <picture>
                <div class="mouse-parallax">
                    <div class="mouse-parallax-bg electronics-parallax"></div>
                </div>
            </picture>
        </div>
    </div>
</section>