<section class="section-semi-width">
    <div class="popular">
        <div data-aos="fade-up" class="popular-item">
            <a href="#">
                <div class="popular-image-container">
                    <img src="../../../img/bystrootverzhdaemyj_dvuhkomponentnyj_epoksidnyj_klej_Adhesol_ET200.webp" alt="">
                </div>
                <div class="popular-text-container">
                    <h4>Название товара</h4>
                    <p class="cutoff-text">Название товара в две строки для примера. Название товара в две строки для примера.</p>
                </div>
                <div class="popular-btn-container">
                    <button class="btn-animate blue-btn">Перейти</button>
                </div>
            </a>
        </div>
        <div data-aos="fade-up" class="popular-item">
            <a href="#">
                <div class="popular-image-container">
                    <img src="../../../img/bystrootverzhdaemyj_dvuhkomponentnyj_epoksidnyj_klej_Adhesol_ET200.webp" alt="">
                </div>
                <div class="popular-text-container">
                    <h4>Название товара</h4>
                    <p class="cutoff-text">Название товара в две строки для примера. Название товара в две строки для примера.</p>
                </div>
                <div class="popular-btn-container">
                    <button class="btn-animate blue-btn">Перейти</button>
                </div>
            </a>
        </div>
        <div data-aos="fade-up" class="popular-item">
            <a href="#">
                <div class="popular-image-container">
                    <img src="../../../img/bystrootverzhdaemyj_dvuhkomponentnyj_epoksidnyj_klej_Adhesol_ET200.webp" alt="">
                </div>
                <div class="popular-text-container">
                    <h4>Название товара</h4>
                    <p class="cutoff-text">Название товара в две строки для примера. Название товара в две строки для примера.</p>
                </div>
                <div class="popular-btn-container">
                    <button class="btn-animate blue-btn">Перейти</button>
                </div>
            </a>
        </div>
        <div data-aos="fade-up" class="popular-item">
            <a href="#">
                <div class="popular-image-container">
                    <img src="../../../img/bystrootverzhdaemyj_dvuhkomponentnyj_epoksidnyj_klej_Adhesol_ET200.webp" alt="">
                </div>
                <div class="popular-text-container">
                    <h4>Название товара</h4>
                    <p class="cutoff-text">Название товара в две строки для примера. Название товара в две строки для примера.</p>
                </div>
                <div class="popular-btn-container">
                    <button class="btn-animate blue-btn">Перейти</button>
                </div>
            </a>
        </div>
        <div data-aos="fade-up" class="popular-item">
            <a href="#">
                <div class="popular-image-container">
                    <img src="../../../img/bystrootverzhdaemyj_dvuhkomponentnyj_epoksidnyj_klej_Adhesol_ET200.webp" alt="">
                </div>
                <div class="popular-text-container">
                    <h4>Название товара</h4>
                    <p class="cutoff-text">Название товара в две строки для примера. Название товара в две строки для примера.</p>
                </div>
                <div class="popular-btn-container">
                    <button class="btn-animate blue-btn">Перейти</button>
                </div>
            </a>
        </div>
        <div data-aos="fade-up" class="popular-item">
            <a href="#">
                <div class="popular-image-container">
                    <img src="../../../img/bystrootverzhdaemyj_dvuhkomponentnyj_epoksidnyj_klej_Adhesol_ET200.webp" alt="">
                </div>
                <div class="popular-text-container">
                    <h4>Название товара</h4>
                    <p class="cutoff-text">Название товара в две строки для примера. Название товара в две строки для примера.</p>
                </div>
                <div class="popular-btn-container">
                    <button class="btn-animate blue-btn">Перейти</button>
                </div>
            </a>
        </div>
        <div data-aos="fade-up" class="popular-item">
            <a href="#">
                <div class="popular-image-container">
                    <img src="../../../img/bystrootverzhdaemyj_dvuhkomponentnyj_epoksidnyj_klej_Adhesol_ET200.webp" alt="">
                </div>
                <div class="popular-text-container">
                    <h4>Название товара</h4>
                    <p class="cutoff-text">Название товара в две строки для примера. Название товара в две строки для примера.</p>
                </div>
                <div class="popular-btn-container">
                    <button class="btn-animate blue-btn">Перейти</button>
                </div>
            </a>
        </div>

        
    </div>
</section>