<section class="section-semi-width">
    <h2 class="section-heading">Новости</h2>
    <div class="news-inner blue">
        <div class="news-slider">
            <div class="news-slider-item">
                <a href="#">
                    <img src="../../../img/anaeroby.webp" alt="">
                    <div class="news-slider-item__info">
                        <div class="item-info__heading">
                            Анаэробные клеи ADHESOL
                        </div>
                        <div class="item-info__text cutoff-text-article">
                            Продукция ADHESOL пополнилась новой серией анаэробных клеевых составов, которые широко
                        </div>
                    </div>
                </a>
            </div>
            <div class="news-slider-item">
                <a href="#">
                    <img src="../../../img/anaeroby.webp" alt="">
                    <div class="news-slider-item__info">
                        <div class="item-info__heading">
                            Анаэробные клеи ADHESOL
                        </div>
                        <div class="item-info__text cutoff-text-article">
                            Продукция ADHESOL пополнилась новой серией анаэробных клеевых составов, которые широко
                        </div>
                    </div>
                </a>
            </div>
            <div class="news-slider-item">
                <a href="#">
                    <img src="../../../img/anaeroby.webp" alt="">
                    <div class="news-slider-item__info">
                        <div class="item-info__heading">
                            Анаэробные клеи ADHESOL
                        </div>
                        <div class="item-info__text">
                            Продукция ADHESOL пополнилась новой серией анаэробных клеевых составов, которые широко
                        </div>
                    </div>
                </a>
            </div>
            <div class="news-slider-item">
                <a href="#">
                    <img src="../../../img/anaeroby.webp" alt="">
                    <div class="news-slider-item__info">
                        <div class="item-info__heading">
                            Анаэробные клеи ADHESOL
                        </div>
                        <div class="item-info__text cutoff-text-article">
                            Продукция ADHESOL пополнилась новой серией анаэробных клеевых составов, которые широко
                        </div>
                    </div>
                </a>
            </div>
            <div class="news-slider-item">
                <a href="#">
                    <img src="../../../img/anaeroby.webp" alt="">
                    <div class="news-slider-item__info">
                        <div class="item-info__heading">
                            Анаэробные клеи ADHESOL
                        </div>
                        <div class="item-info__text cutoff-text-article">
                            Продукция ADHESOL пополнилась новой серией анаэробных клеевых составов, которые широко
                        </div>
                    </div>
                </a>
            </div>
            <div class="news-slider-item">
                <a href="#">
                    <img src="../../../img/anaeroby.webp" alt="">
                    <div class="news-slider-item__info">
                        <div class="item-info__heading">
                            Анаэробные клеи ADHESOL
                        </div>
                        <div class="item-info__text cutoff-text-article">
                            Продукция ADHESOL пополнилась новой серией анаэробных клеевых составов, которые широко
                        </div>
                    </div>
                </a>
            </div>
            <div class="news-slider-item">
                <a href="#">
                    <img src="../../../img/anaeroby.webp" alt="">
                    <div class="news-slider-item__info">
                        <div class="item-info__heading">
                            Анаэробные клеи ADHESOL
                        </div>
                        <div class="item-info__text cutoff-text-article">
                            Продукция ADHESOL пополнилась новой серией анаэробных клеевых составов, которые широко
                        </div>
                    </div>
                </a>
            </div>
            
        </div>

    </div>
    
</section>