<main>
    @@include('slider/slider.html')
    @@include('popular/popular.html')
    @@include('doubleColBlock/doubleColBlock.html')
    @@include('doubleColBlockReverse/doubleColBlockReverse.html')
    @@include('chooseOption/chooseOption.html')
    @@include('industrySolutions/industrySolutions.html')
    @@include('articles/articles.html')
    @@include('videos-block/videos.html')
    @@include('news/news.html')
    @@include('partners/partners.html')
    @@include('dealers/dealers.html')
    @@include('questions/questions.html')
</main>