<section  class="section-semi-width">
    <div class="faq">
        <div
        data-aos="fade-right" 
        data-aos-duration="300" 
        data-aos-offset="100"
        data-aos-delay="100"
        data-aos-easing="ease-in-out"
        class="faq-inner">
            
            <div class="call-container">
                <div class="questions-text-container">
                    <h4>Остались вопросы?</h4>
                    <p>Разработка уникальных клеевых составов для решения задач вашего предприятия.</p>
                </div>
                <form
                data-aos="zoom-in" 
                data-aos-duration="200" 
                data-aos-offset="100"
                data-aos-delay="200"
                data-aos-easing="ease-in-out"
                class="collback-form">
                    <div
                    data-aos="fade-down" 
                    data-aos-duration="300" 
                    data-aos-offset="150"
                    data-aos-delay="300"
                    data-aos-easing="ease-in-out"
                    class="maskot-call">
                        <img src="../../../img/adhesol-maskot-reverse.svg" alt="">
                    </div>
                    <h4>Закажите звонок</h4>
                    <input type="text" placeholder="Имя">
                    <input type="text" placeholder="Телефон">
                    <input type="text" placeholder="Почта">
                    <button class="btn-animate">Заказать</button>
                </form>
            </div>
        </div>
    </div>
</section>