<section class="section-full-width grey-bg">
    <div 
    data-aos="fade-left" 
    data-aos-duration="500" 
    data-aos-offset="100"
    data-aos-easing="linear"
    class="double-col-block">
        <div class="double-block-inner blue">
            <div class="text-block">
                <div class="text">
                    <h4>Химический клеевой анкер ADHESOL ET 267 ー новый продукт ADHESOL </h4>
                    <p class="cutoff-text-block">Химический клеевой анкер ADHESOL ET 267 ー новый продукт ADHESOL, предназначенный для строительных работ по устройству монолитных железобетонных конструкций и креплений к ним. С помощью клеевой фиксации повышается производительность</p>
                </div>
                <button class="custom-btn btn-3">
                    <span>
                        <a href="#">Подробнее</a>
                    </span>
                </button>
            </div>
            <div class="image-block image-block-first">
                <div class="image-block-layer"></div>
                <img src="../../../img/anker.webp" alt="">
            </div>
        </div>
    </div>
</section>